<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1>Citizen Data</h1>
<form action="#" th:action="@{/api/root/users/update/{username}(username = ${user.username})}" th:object="${user}" method="post">
    <p hidden>Id:<input type="text" th:field="${user.id}" th:value="${user.getId()}"/></p>
    <p>Username: <input type="text" th:field="${user.username}" th:value="${user.getUsername()}"/></p>
    <p>Passcode: <input type="text" th:field="${user.passcode}" th:value="${user.getPasscode()}"/></p>
    <p>Full Name: <input type="text" th:field="${user.fullName}" th:value="${user.getFullName()}"/></p>
    <p>Region: <input type="text" th:field="${user.region}" th:value="${user.getRegion()}"/></p>
    <p>Enabled: <input type="checkbox" th:field="${user.enabled}" th:value="${user.getEnabled()}"/></p>
    <p><input type="submit" value="Update" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>